html { 
	box-sizing: border-box;
}

*, *::before, *::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;

	font-family: "Cuprum", Arial, sans-serif;;
	font-size: 14px;
	line-height: 24px;
	color: #000;

	background-color: #fff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.top-menu,
.site-nav,
.delivery-partners,
.footer-nav ul,
.footer-social ul {
	list-style: none;
}

.button {
	display: inline-block;
	padding-top: 12px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 25px;

	color: #fff;
	text-align: center;
	vertical-align: middle;
	border: none;
	text-transform: uppercase;

	background-color: #ee3643;

	border-radius: 2px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	overflow: hidden;
}

/*ШАПКА*/

header {
	background-color: #f3f7f8;
	min-height: 320px;
}

.top-menu-wrap {
	width: 100%;

	margin-bottom: 46px;

	background-color: #293449;

	min-height: 42px;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.container {
	display: flex;
}

.top-menu {
	display: flex;
	padding: 0;
	margin: 0;
}

.top-menu-logo {
	display: block;
	position: relative;
	width: 220px;

	background-color: #ee3643;

	text-align: center;
	line-height: 0;
}

.top-menu-logo img {
	padding-top: 13px;
	padding-bottom: 10px;
}

.top-menu-logo::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -5px;

	width: 100%;
	height: 5px;

	background-color: #b52933;
}

.top-menu-logo:hover {
	background-color: #ca2c37;
}

.top-menu-logo:active {
	background-color: #ba2732;
}

.top-menu-logo:hover::after {
	background-color: #9a212a;
}

.top-menu-logo:active::after {
	background-color: #8e1e26;
}

.top-menu-item {
	position: relative;
}

.top-menu-item a {
	display: block;

	color: #fff;
	font-size: 17px;
	line-height: 18px;

	padding: 0;
	padding-top: 12px;
	padding-bottom: 12px;
}

.top-menu-item input {
	height: 42px;
	width: 270px;

	padding-left: 49px;

	font-size: 17px;
	line-height: 18px;
	color: #fff;

	background-color: #293449;

	border: none;
}

.top-menu-item input::placeholder {
	color: #fff;
}

form {
	position: relative;
}

.search svg {
	position: absolute;

	top: 12px;
	left: 17px;
}

.search path {
	fill: rgba(255, 255, 255, .3);
}

.top-menu-item input:hover + svg path {
	fill: #fff;
}

.top-menu-item input:focus + svg path {
	fill: #ee3643;
}

.top-menu-item input:active + svg path {
	fill: #fff;
}

.top-menu-item input:hover {
	background-color: #212a3a;
}

.top-menu-item input:hover::placeholder {
	color: #fff;
}

.top-menu-item input:focus {
	background-color: #fff;
	color: #000;
}

.top-menu-item input:active {
	background-color: #293449;
}

.bookmark a {
	width: 150px;

	padding-left: 44px;
}

.cart a {
	width: 150px;

	padding-left: 50px;
}

.bookmark svg {
	position: absolute;

	top: 12px;
	left: 17px;
}

.cart svg {
	position: absolute;

	top: 13px;
	left: 18px;
}

.bookmark path,
.cart g {
	fill: rgba(255, 255, 255, .3);
}

.bookmark a:hover path,
.cart a:hover g {
	fill: #fff;
}

.bookmark a:active path,
.cart a:active g {
	fill: rgba(255, 255, 255, .3);
}

.bookmark a:hover,
.cart a:hover {
	background-color: #212a3a;
}

.bookmark a:active,
.cart a:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, .6);
}

.order a {
	width: 150px;
	background-color: #63a63e;
	text-align: center;
}

.order a:hover {
	background-color: #5fbb2d;
}

.order a:active {
	background-color: #518534;
	color: rgba(255, 255, 255, .5);
}

.slogan {
	width: 300px;

	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
}

.slogan p {
	margin: 0;
	font-style: italic;
	padding-left: 53px;
}

.contacts {
	width: 270px;
	margin-left: 20px;
}

.shop-telephone {
	position: relative;

	color: #ee3643;
	font-size: 21px;
	line-height: 21px;

	border: 3px solid #fff;

	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 71px;
}

.shop-telephone::before {
	position: absolute;
	content: "";

	width: 18px;
	height: 19px;

	background: url("../img/icons/icon-phone.svg") no-repeat 0 0;

	top: 10px;
	left: 13px;
}

.shop-address {
	color: #32425c;
	text-align: center;
}

.user-login {
	width: 285px;
	margin-left: 69px;
}

.login-button {
	color: #000;
	font-size: 21px;
	line-height: 21px;
	vertical-align: middle;

	background-color: #fff;

	border: none;
	
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin: 0;

	cursor: pointer;
}

.sign-in {
	margin-right: 10px;
	padding-left: 45px;
	padding-right: 27px;

	position: relative;
}

.sign-in svg {
	position: absolute;

	top: 15px;
	left: 14px;
}

.sign-in polygon,
.sign-in path {
	fill: #c5c5c5;
}

.sign-in:hover polygon,
.sign-in:hover path {
	fill: #32425c;
}

.sign-in:active polygon,
.sign-in:active path {
	fill: #c5c5c5;
}

.login-button:hover {
	color: #ee3643;
}

.login-button:active {
	color: rgba(0, 0, 0, .3);
}

nav {
	padding-top: 44px;
	width: 940px;
	margin: 0 auto;
}

.site-nav {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	font-size: 17px;
	line-height: 17px;

	background-color: #32425c;

	border-bottom: 5px solid #293449;
}

.site-nav a {
	display: block;
	padding-top: 21px;
	padding-bottom: 17px;
	padding-right: 33px;
	padding-left: 34px;

	color: #fff;
}

.site-nav a:hover {
	background-color: #293449;
}

.site-nav a:active {
	color: rgba(255, 255, 255, .5);
}

/*О КОМПАНИИ*/

.about-company .button {
	line-height: 18px;
}

/*ФУТЕР*/

footer {
	background-color: #293449;
}

footer > div:nth-child(1) {
	font-size: 18px;

	background-color: #32425c;
}

footer > div:nth-child(2) {
	font-size: 16px;
	line-height: 18px;
}

.footer-contacts {
	color: #f3f7f9;
}

.footer-site-nav a {
	color: #f1f5f7;
}

.footer-catalog-nav a,
.footer-feedback a,
.footer-developer a {
	color: #ffd180;
}

.footer-copyright,
.footer-feedback,
.footer-developer {
	color: #fff;
}