@font-face {
	font-family: "Cuprum";
	src: url(../font/cuprum.woff) format("woff"),
		 url(../font/cuprum.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url(../font/cuprumitalic.woff) format("woff"),
		 url(../font/cuprumitalic.woff2) format("woff2");
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: "Cuprum";
	src: url(../font/cuprumbold.woff) format("woff"),
		 url(../font/cuprumbold.woff2) format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "Cuprum";
	src: url(../font/cuprumbolditalic.woff) format("woff"),
		 url(../font/cuprumbolditalic.woff2) format("woff2");
	font-weight: bold;
	font-style: italic;
}

@font-face {
	font-family: "PT Sans";
	src: url(../font/ptsans.woff) format("woff"),
		 url(../font/ptsans.woff2) format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PT Sans";
	src: url(../font/ptsansbold.woff) format("woff"),
		 url(../font/ptsansbold.woff2) format("woff2");
	font-weight: bold;
	font-style: normal;
}

html { 
	box-sizing: border-box;
}

*, 
*::before, 
*::after {
	box-sizing: inherit;
}

body {
	padding: 0;
	margin: 0;

	font-family: "Cuprum", Arial, sans-serif;;
	font-size: 14px;
	line-height: 24px;
	color: #000;

	background-color: #fff;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.top-menu-list,
.site-nav,
.delivery-partners,
.footer-nav ul,
.footer-social ul {
	list-style: none;
}

.button {
	display: inline-block;
	padding-top: 12px;
	padding-bottom: 9px;
	padding-left: 25px;
	padding-right: 25px;

	color: #fff;
	text-align: center;
	vertical-align: middle;
	border: none;
	text-transform: uppercase;

	background-color: #ee3643;

	border-radius: 2px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
	position: absolute;

	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;

	white-space: nowrap;

	clip: rect(0 0 0 0);
	clip-path: inset(100%);
	overflow: hidden;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;

	position: relative;
	width: 220px;

	background-color: #ee3643;
}

/*ШАПКА*/

.site-header {
	background-color: #f3f7f8;
	min-height: 320px;
}

.site-header > div {
	display: flex;
}

.top-menu-wrap {
	width: 100%;

	margin-bottom: 46px;

	background-color: #293449;

	min-height: 42px;
}

.top-menu {
	display: flex;
}

.container {
	width: 940px;
	margin: 0 auto;
}

.top-menu-list {
	display: flex;
	padding: 0;
	margin: 0;
}

.top-menu-logo img {
	height: 19px;
}

.logo::after {
	position: absolute;
	content: "";
	left: 0;
	bottom: -5px;

	width: 100%;
	height: 5px;

	background-color: #b52933;
}

.logo:hover {
	background-color: #ca2c37;
}

.logo:active {
	background-color: #ba2732;
}

.logo:hover::after {
	background-color: #9a212a;
}

.logo:active::after {
	background-color: #8e1e26;
}

.top-menu-item {
	position: relative;
}

.top-menu-item a {
	display: block;

	color: #fff;
	font-size: 17px;
	line-height: 18px;

	padding: 0;
	padding-top: 12px;
	padding-bottom: 12px;
}

.search input {
	height: 42px;
	width: 270px;

	padding-left: 49px;

	font-size: 17px;
	line-height: 18px;
	color: #fff;

	background-color: #293449;

	border: none;
}

.top-menu-item input::placeholder {
	color: #fff;
}

.search form {
	position: relative;
}

.search svg {
	position: absolute;

	top: 12px;
	left: 17px;
}

.search path {
	fill: rgba(255, 255, 255, .3);
}

.top-menu-item input:hover + svg path {
	fill: #fff;
}

.top-menu-item input:focus + svg path {
	fill: #ee3643;
}

.top-menu-item input:active + svg path {
	fill: #fff;
}

.top-menu-item input:hover {
	background-color: #212a3a;
}

.top-menu-item input:hover::placeholder {
	color: #fff;
}

.top-menu-item input:focus {
	background-color: #fff;
	color: #000;
}

.top-menu-item input:active {
	background-color: #293449;
}

.bookmark a {
	width: 150px;

	padding-left: 44px;
}

.cart a {
	width: 150px;

	padding-left: 50px;
}

.bookmark svg {
	position: absolute;

	top: 12px;
	left: 17px;
}

.cart svg {
	position: absolute;

	top: 13px;
	left: 18px;
}

.bookmark path,
.cart g {
	fill: rgba(255, 255, 255, .3);
}

.bookmark a:hover path,
.cart a:hover g {
	fill: #fff;
}

.bookmark a:active path,
.cart a:active g {
	fill: rgba(255, 255, 255, .3);
}

.bookmark a:hover,
.cart a:hover {
	background-color: #212a3a;
}

.bookmark a:active,
.cart a:active {
	background-color: #161d29;
	color: rgba(255, 255, 255, .6);
}

.order a {
	width: 150px;
	background-color: #63a63e;
	text-align: center;
}

.order a:hover {
	background-color: #5fbb2d;
}

.order a:active {
	background-color: #518534;
	color: rgba(255, 255, 255, .5);
}

.site-information {
	margin-bottom: 44px;
}

.slogan {
	width: 300px;

	color: #ee3643;
	font-size: 16px;
	line-height: 23px;
}

.slogan p {
	margin: 0;
	font-style: italic;
	padding-left: 53px;
}

.contacts {
	width: 270px;
	margin-left: 20px;
}

.shop-telephone {
	position: relative;

	color: #ee3643;
	font-size: 21px;
	line-height: 21px;

	border: 3px solid #fff;

	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 71px;
}

.shop-telephone::before {
	position: absolute;
	content: "";

	width: 18px;
	height: 19px;

	background: url("../img/icons/icon-phone.svg") no-repeat 0 0;

	top: 10px;
	left: 13px;
}

.shop-address {
	color: #32425c;
	text-align: center;
}

.user-login {
	width: 285px;
	margin-left: 69px;
}

.login-button {
	color: #000;
	font-size: 21px;
	line-height: 21px;
	vertical-align: middle;

	background-color: #fff;

	border: none;
	
	padding-left: 24px;
	padding-right: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
	margin: 0;

	cursor: pointer;
}

.sign-in {
	margin-right: 10px;
	padding-left: 45px;
	padding-right: 27px;

	position: relative;
}

.sign-in svg {
	position: absolute;

	top: 15px;
	left: 14px;
}

.sign-in polygon,
.sign-in path {
	fill: #c5c5c5;
}

.sign-in:hover polygon,
.sign-in:hover path {
	fill: #32425c;
}

.sign-in:active polygon,
.sign-in:active path {
	fill: #c5c5c5;
}

.login-button:hover {
	color: #ee3643;
}

.login-button:active {
	color: rgba(0, 0, 0, .3);
}

.main-nav {
	margin-bottom: 59px;
}

.site-nav {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	margin: 0;
	padding: 0;

	font-size: 17px;
	line-height: 17px;

	background-color: #32425c;

	border-bottom: 5px solid #293449;
}

.site-nav a {
	display: block;
	padding-top: 21px;
	padding-bottom: 17px;
	padding-right: 33px;
	padding-left: 34px;

	color: #fff;
}

.site-nav a:hover {
	background-color: #293449;
}

.site-nav a:active {
	color: rgba(255, 255, 255, .5);
}

/*О КОМПАНИИ*/

.about-company .button {
	line-height: 18px;
}

/*ФУТЕР*/

.site-footer {
	background-color: #293449;
}

.footer-top-wrapper {
	width: 100%;

	font-size: 18px;

	background-color: #32425c;
}

.footer-contacts-nav {
	display: flex;
	min-height: 193px;
}

.footer-logo-contacts {
	width: 380px;

	margin-right: 10px;
}

.footer-logo {
	min-height: 63px;

	margin-bottom: 32px;
}

.footer-contacts {
	color: #f3f7f9;

	margin-bottom: 50px;
}

.footer-contacts p {
	margin: 0;
}

.footer-nav {
	display: flex;
	flex-direction: column;

	width: 550px;
}

.footer-site-nav,
.footer-catalog-nav {
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;

	padding: 0;
}

.footer-site-nav li {
	margin-left: 59px;
	margin-bottom: 11px;
}

.footer-catalog-nav li {
	margin-left: 60px;
	margin-bottom: 11px;
}

.footer-site-nav li:first-child,
.footer-catalog-nav li:first-child,
.footer-site-nav li:nth-child(6n),
.footer-catalog-nav li:nth-child(5n) {
	margin-left: 0;
}

.footer-site-nav li:hover,
.footer-catalog-nav li:hover {
	text-decoration: underline;
}

.footer-site-nav li:active,
.footer-catalog-nav li:active {
	text-decoration: none;
	opacity: .5;
}

.footer-site-nav {
	margin: 0;
	margin-top: 42px;
}

.footer-site-nav a {
	color: #f1f5f7;
}

.footer-bottom-wrapper {
	font-size: 16px;
	line-height: 18px;

	display: flex;
	justify-content: space-between;

	min-height: 107px;
}

.footer-copyright {
	width: 380px;

	display: flex;
	align-items: center;

	margin-right: 10px;
}

.footer-social {
	display: flex;
	align-items: center;

	margin-right: auto;
}

.social-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	padding: 0;
}

.social-list li {
	margin-right: 5px;
}

.social-list li:last-child {
	margin-right: 0;
}

.footer-social a {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 42px;
	height: 42px;

	background-color: #212a3a;

	border-radius: 50%;
}

.footer-social a:hover {
	background-color: #ee3643;
}

.footer-social a:active {
	background-color: #ee3643;
}

.footer-feedback-developer {
	width: 300px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-feedback-developer a:hover {
	text-decoration: underline;
}

.footer-feedback-developer a:active {
	text-decoration: none;
	color: #ee3643;
}

.footer-catalog-nav a,
.footer-feedback a,
.footer-developer a {
	color: #ffd180;
}

.footer-copyright,
.footer-feedback,
.footer-developer {
	color: #fff;
}